.header {
  display: flex;
  align-self: flex-end;
  padding-right: 30px;
  background-color: #FFFFFF;
  height: 50px;

  .button {
    margin: 10px;
  }

  .language {
    display: flex;
    flex-direction: row;
    align-self: center;

    .lg {
      margin: 6px;
    }
  }

  .auth {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  }
}