.sendMessage {
  .form {
    display: flex;
    flex-direction: row;
  }

  .form > input {
    width: 95%;
  }

  .form > button {
    background: #3F3D56 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;

    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 5%;
    height: 20px;
  }
}